apiVersion: v1
kind: Pod
metadata:
  name: fastapi-ml-resources
  labels:
    app: fastapi-ml-resources
spec:
  containers:
    - image: shubinsa/inference:v1
      name: fastapi-ml
      ports:
        - containerPort: 80
      resources:
        requests:
          memory: "512Mi"
          cpu: "500m"
        limits:
          memory: "512Mi"
          cpu: "500m"
